<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Войти как администратор</h2>

    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email">
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
            <small *ngIf="form.get('email')?.errors?.['required']">Введите email</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Введите корректный email</small>
        </div>
    </div>

    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password">
        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="validation">
            <small *ngIf="form.get('password')?.errors?.['required']">Введите пароль</small>
            <small *ngIf="form.get('password')?.errors?.['minlength']">Пароль должен быть не менне 6 символов</small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Войти</button>

</form>